*{
    background: white;
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border: all o.4 ese;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    background-color: white;
    height: 25px;
    width: 200px;
    margin-top: 10px;
}